<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="btn-group">
            <a class="navbar-brand" href="/">GSA Site</a>
            <a class="nav-link text-light" href="{{ url_for('resources') }}">Resources</a>
            <a class="nav-link text-light" href="{{ url_for('signup') }}">Signup</a>
            <a class="nav-link text-light" href="{{ url_for('calender') }}">Calender</a>
            <a class="nav-link text-light" href="{{ url_for('about') }}">About</a>
        </div>
    </div>
</nav>