{% extends "layouts/layout.html" %}

{% block content %}
<h1 class="title">
    Resources
</h1>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
</style>
<center><table style="width:100%">
    <tr>
        <th>Resource:      </th>
        <th>Where to find it</th>
    </tr>
    <tr>
        <th>Suicide prevention</th>
        <th>800-273-8255  or   <a href="https://suicidepreventionlifeline.org/">WEBSITE</a></th>
    </tr>
    <tr>
        <th>LGBTQ+ Support groups</th>
        <th><a href="https://thecentersd.org/">The San Diego LGBT Community Center</a></th>
    </tr>
    <tr>
        <th>Sexual orientation</th>
        <th><a href="https://www.thetrevorproject.org/resources/category/sexual-orientation/">Trevor Project sexual orientation page</a></th>
    </tr>
    <tr>
        <th>Gender Identity</th>
        <th><a href="https://www.thetrevorproject.org/resources/category/gender-identity/">Trevor Project gender identity page</a></th>
    </tr>
    <tr>
        <th>Mental health</th>
        <th><a href="https://www.thetrevorproject.org/resources/category/mental-health/">Trevor Project mental health page</a></th>
    </tr>
</table></center>
{% endblock %}